/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "swiper/css/bundle";

.wp-block-blablablocks-slider {
	position: relative;
}

.wp-block-blablablocks-slider .swiper {
	position: initial;

	.swiper-wrapper {
		gap: 0;
	}

	.swiper-button-prev {
		left: var(--navigation-offset-left);
	}

	.swiper-button-next {
		right: var(--navigation-offset-right);
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: var(--navigation-arrow-color, var(--swiper-theme-color));
		background-color: var(--navigation-background-color);
		border-radius: var(--navigation-border-radius);
		padding: var(--navigation-padding-top) var(--navigation-padding-right) var(--navigation-padding-bottom) var(--navigation-padding-left);
		top: var(--navigation-offset-top);
		bottom: var(--navigation-offset-bottom);

		&:hover {
			color: var(--navigation-arrow-hover-color, var(--swiper-theme-color));
			background-color: var(--navigation-background-hover-color);
		}
	}

	.swiper-pagination {
		top: var(--pagination-offset-top);
		right: var(--pagination-offset-right);
		bottom: var(--pagination-offset-bottom);
		left: var(--pagination-offset-left);
	}

	.swiper-pagination-bullet {
		width: var(--pagination-size);
		height: var(--pagination-size);
		background: var(--pagination-inactive-color, #000);
	}

	.swiper-pagination-bullet:focus {
		outline: none;
	}

	.swiper-pagination-bullet-active {
		background: var(--pagination-active-color, var(--swiper-theme-color)) !important;
	}
}
